/* overriding defaults */
body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

/* changing container into a grid for items and adjusting height& width
to fill page */
.grid {
  display: grid;
  grid-template-columns: 25% 37.5% 37.5%;
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
  "sidenav header header"
  "sidenav content content"
  "sidenav footer footer";
  height: 100vh;
  width: 100vw;
}

header {
  background-color: #FFFEF2;
  display: flex;
  flex-direction: column;
  grid-area: header;
}

header img {
  align-self: center;
  width: 65%;
  overflow: hidden;
}
/* turned container for nav into flex to make it easier to position */
.navflex {
  align-items: center;
  background-color: #F8F0C6;
  display: flex;
  grid-area: sidenav;
  height: 100vh;
  overflow: hidden;
}

.headerposition {
  margin-left: 24px;
}

nav ul {
  padding: 0px;
}
nav ul li {
  list-style-type: none;
  margin: 8px 8px 8px 16px;
  font-size: 16px;
}

nav ul li a {
  background-color: #F8F0C6;
  border-radius: 8px;
  color: black;
  display: block;
  padding: 12px 100px 12px 8px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #FFFEF2;
  cursor: pointer;
}

nav ul li a:active {
  color: white;
}

/* same as with nav */
main {
  align-content: center;
  background-color: #FFFEF2;
  display: flex;
  flex-direction: column;
  grid-area: content;
}

main form {
  align-self: center;
}
main form div {
  margin: 12px;
}
main form input {
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 8px;

}

main form div label {
  margin-top: 8px;
}
main form textarea {
  border-radius: 8px;
  margin-top: 8px;
  width: 200px;
  height: 100px;
}

#buttoncontainer input {
  background-color: #F8F0C6;
  border: 12px solid #F8F0C6;
  border-radius: 12px;
  margin-top: 12px;
}

/* just kept in here as a placeholder and in case it is needed */
footer {
  background-color: #FFFEF2;
  grid-area: footer;
}


@media screen and (max-width: 480px) {

  .grid {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
    "header"
    "content"
    "sidenav"
    "footer";
  }

  header {
    align-items: center;
  }

  header img {
    width: 200px;
    overflow: hidden;
  }

  main h1,
  h2 {
    font-size: 20px;
    text-align: center;
  }

  .navflex {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  nav ul li {
    font-size: 16px;
  }
  nav ul li a {
    background-color: #F8F0C6;
    border-radius: 8px;
    color: black;
    display: block;
    padding: 4px 16px 4px 16px;
    text-decoration: none;
  }

  .icons {
    align-self: center;
  }
  footer {
    background-color: #F8F0C6;
  }

}
