/* overriding defaults */
body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

/* changing container into a grid for items and adjusting height& width
to fill page */
.grid {
  display: grid;
  grid-template-columns: 25% 37.5% 37.5%;
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
  "sidenav header header"
  "sidenav content content"
  "sidenav footer footer";
  height: 100vh;
  width: 100vw;
}

header {
  background-color: #FFFEF2;
  display: flex;
  grid-area: header;
}

header h1 {
  margin-left: 64px;
}

/* turned container for nav into flex to make it easier to position */
.navflex {
  align-items: center;
  background-color: #F8F0C6;
  display: flex;
  grid-area: sidenav;
  overflow: hidden;
}
nav ul {
  padding: 0px;
}
nav ul li {
  list-style-type: none;
  margin: 8px 8px 8px 16px;
  font-size: 1em;
}

nav ul li a {
  background-color: #F8F0C6;
  border-radius: 8px;
  color: black;
  display: block;
  padding: 12px 100px 12px 8px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #FFFEF2;
  cursor: pointer;
}

nav ul li a:active {
  color: white;
}

/* same as with nav */
main {
  align-content: center;
  background-color: #FFFEF2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: content;
  margin-left: 6.5vw;
  overflow: hidden;
}

main img {
  border: 2px solid black;
  border-radius: 8px;
  margin: 16px;
  width: 200px;
}
/* just kept in here as a placeholder and in case it is needed */
footer {
  background-color: #FFFEF2;
  grid-area: footer;
}

@media screen and (max-width: 480px) {

  .grid {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
    "header"
    "content"
    "sidenav"
    "footer";
  }

  main {
    justify-content: center;
    margin-left: 0;
    margin: 8px;
  }
  main img {
    margin: 0;
    width: 350px;
  }

  footer {
    background-color: #F8F0C6;
  }
